apiVersion: v1
kind: ConfigMap
metadata:
  name: unweb-config
data:
  appsettings.json: |
    {
      "Logging": {
        "LogLevel": {
          "Default": "Information",
          "Microsoft.AspNetCore": "Warning"
        }
      },
      "AllowedHosts": "*",
      "ConversionSettings": {
        "MaxFileSizeBytes": 5242880
      }
    }
